body{
	font-family: Calibri;
	/*
	margin-left: 17%;
	margin-right: 17%;
	*/
}

div{
	margin-left: 7%;
	font-size: 12pt;
	margin-top: 0%;
	margin-bottom: 2%;
}


ul {
	margin: 0%; 
	margin-left: 2%;

}

.heading{
	margin-left: 4%;
	font-size: 18pt;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;

}

.bold-heading{
	font-weight: bold;
	margin-top: 
	
}

.title{
	font-style: italic;
}

#name{
	margin-top: 5%;
	text-align: center;
	font-size: 36pt;
	border-bottom: groove 15px;
	margin-right: 50%;
}


.main-list{
	margin-left: 2%;

}

.nested-list{
	margin-left: 0;
}


.whitespace{
	margin-top: 15%;
}



