body{
	font-family: Calibri;
	background-image: url('mt-washington.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(254,132,50);
}

h1{
	margin-left: 5%;
	font-size: 36pt;
	margin-top: 5%;
}

p{
	margin-left: 5%;
	font-size: 18pt;
}
